layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        hide_frame_for_single_pane "true"

        format_left  "#[fg=#89B4FA,bg=#181825,bold] {session}#[bg=#181825] {tabs}"
        format_right "{command_kubectx}#[fg=#424554,bg=#181825]::{command_kubens}{datetime}"
        format_space "#[bg=#181825]"
        
        tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_active               "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_fullscreen_indicator "□ "
        tab_sync_indicator       "  "
        tab_floating_indicator   "󰉈 "
      }
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  cwd "~/Documents/Development/Project/IBBR"
  tab name="backend" split_direction="vertical" cwd="~/Documents/Development/Project/IBBR/ibbr-backend" {
    pane size="60%"
    pane split_direction="horizontal" {
      pane
      pane
    }
  }
}
